.board-renderer-grid {
    width: 30%;
    height: 90%;
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 35%;
    right: 35%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.board-renderer-grid-cell {
    border: 1px solid black;
}

.filled {
    background: blue;
}
